body{
    background-color: #f6f6f6;
    padding-top: 51px;
}
a{
    color: #333;
}
.table{
    background-color: #FFF;
    margin-top: 20px;
    border:1px solid #DDD;
}
.table thead{
    background-color: #563D7C;
    color: #FFF;
    font-weight: bold;
}
.table tr{
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.table tbody tr:hover{
    background-color: #f9f9f9;
}
.film-nav{
    background-color: #563d7c;
    border-bottom:1px solid #463265;
    box-shadow: 0 1px 0px #674F89;
    -webkit-box-shadow: 0 1px 0px #674F89;
    -moz-box-shadow: 0 1px 0px #674F89;
    -ms-box-shadow: 0 1px 0px #674F89;
}
.film-nav .navbar-brand{
    color: #FFF;
}
.film-nav .navbar-nav  li a {
    color: #cdbfe3;
}
.film-nav .navbar-nav  a:hover{
    background-color: #563D7C;
    color: #FFF;
}
.film-nav .navbar-nav li.active a{
    color: #fff;
    background-color:#463265;
}
.film-nav .film-search-input{
    float: right;
    width: 30%;
    padding-top:8px;
}
.film-search-input .input-group-btn .btn{
    font-weight: bold;
}

#film-carousel{
    border-top: 1px solid #674F89;
    background-color: #573D7D;
    padding: 20px 0 0;
    box-shadow: 0px 1px 5px rgba(0,0,0,.8);
    -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 1px 5px rgba(0,0,0,.8);
    -ms-box-shadow: 0px 1px 5px rgba(0,0,0,.8);
}
#film-carousel .carousel-inner img{
    width: 1140px;
    height: 312px;
}
#film-carousel .film-slogan,#film-carousel .film-slogan a{
    text-align: center;
    color: #FFF;
}
#film-main-container{

}
#film-main-container .film-search-box{
    background-color: #FFF;
    margin-top: 20px;
    padding:20px;
    border-radius: 8px;
}
.film-search-box .film-search-input{
    width: 50%;
}
.film-search-result{
    background-color: #FFF;
    padding: 20px;
}
.film-search-result dt{
    margin-bottom: 10px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
}
.film-search-result dd{
    margin-bottom: 10px;
    border-bottom: 1px dashed #eee;
    padding-left: 20px;
}
.film-block{
    background-color: #fff;
    border:1px solid #ddd;
    border-top: none;
}
.film-block dt{
    position: relative;
    padding: 5px 10px;
    border-top:2px solid #563D7C;
    border-bottom:1px solid #ddd;
    color: #666;
    background-color:rgb(237, 237, 237);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 254, 254)), to(rgb(237, 237, 237)));
    background-image: -webkit-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));
    background-image: -moz-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));
    background-image: -o-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));
    background-image: -ms-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));
    background-image: linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));
}
.film-block dt a{
    position: absolute;
    font-size: 12px;
    top: 6px;
    right: 8px;
    font-weight: normal;
}
.film-block dd{
    margin: 5px 10px;
    border-bottom: 1px dotted #eee;
    padding: 5px 0;
    font-weight: 300;
}
.film-block dd a.film-title{
    display: inline-block;
    width: 75%;
    overflow: hidden;
    height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 22px;
}
.film-block dd .film-date,.film-block dd .film-size{
    float: right;
}
.film-block dd .film-size{
    margin-right: 20px;
}
.film-block .film-grade{
    float: left;
    height: 70px;
    line-height: 1.5em;
    width: 180px;
    overflow: hidden;
}
.film-block .film-grade em{
    font-size: 2em;
    padding-right: 0.2em;
    color: red;
}
.film-block .film-grade a{
    color: #666;
}
.film-block .film-thumb{
    display: block;
    height:auto;
}
.film-block .film-thumb img{
    width: 60px;
    height: 80px;
}
/*      内容页     */
.film-content {
    display: block;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 25px 0;
    border-radius: 10px;
}
.film-content img{
    max-width: 90%;
    _width:expression(this.width>=600?"600px" : this.width);
}
.film-content img.large-image{
    border:10px solid #7850B4;
    border-radius:5px;
}
.action-group{
    margin-top: 50px;
    border: 1px solid #ddd;
    padding: 20px;
    background: #f9f9f9;
}
.action-group a{
    margin-left: 15px;
}
.footer{
    background-color: #563d7c;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: #FFF;
}
.footer a{
    color: #E2D325;
}